.manage-doctor-container {
    padding: 20px 40px;

    .title {
        margin-bottom: 40px;
    }

    .doctor-information {
        margin-bottom: 20px;

    }

    .btn-save {
        border-radius   : 5px;
        font-size       : 16px;
        margin          : 10px 0 0 0;
        border          : none;
        padding         : 10px;
        color           : aliceblue;
        background-color: rgb(17, 160, 17);

        &:hover {
            opacity: 0.9;
        }
    }

}