.home-header-container {
    height          : 80px;
    width           : 100%;
    padding         : 0px 40px;
    background-color: rgba(255, 255, 255, 1);
    top             : 0;
    z-index         : 10;

    .home-header-content {
        height : 100%;
        display: flex;

        .left-content {
            width          : 25%;
            display        : flex;
            align-items    : center;
            justify-content: space-evenly;

            .header-logo {
                background: url(../../assets/images/bookingcare-logo.svg) center center no-repeat;

                height: 70%;
                width : 70%;
                cursor: pointer;
            }

            i {
                font-size: 24px;
                color    : gray;
                cursor   : pointer;
            }
        }

        .center-content {
            width          : 50%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            .child content {
                .sub-title {
                    font-weight: 400;
                    font-size  : 12px;
                }
            }
        }

        .right-content {
            width          : 25%;
            display        : flex;
            justify-content: flex-end;
            align-items    : center;

            .support-content {
                padding-right: 50px;
                display      : flex;
                align-items  : center;

                i {
                    font-size   : 20px;
                    margin-right: 5px;
                    cursor      : pointer;
                }

                span {
                    font-size: 15px;
                    cursor   : pointer;
                }
            }

            .language-content {
                display    : flex;
                align-items: center;

                span {
                    font-size: 15px;
                }

                .language-icon {
                    padding: 0 5px;

                    img {
                        height: 25px;
                        width : 30px;
                        cursor: pointer;
                    }

                    &.active {
                        img {
                            border: 2px solid #49bce2;
                        }
                    }
                }
            }
        }
    }
}